.list {
  display: flex;
  padding: 15px;
  gap: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.link {
  color: black;
  font-weight: bold;
}

.activeLink {
  color: rgb(184, 7, 7);
}
